.header-navbar{
    padding: 0;
}
.nav-menu{
    margin: auto;
    height: 60px;
    width: 98%;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
    z-index: 91;

}
.nav-menu > .navbar-brand{
    margin-right: 10rem;
}
.nav-menu .header-content-right{
    display: flex;
    justify-content: space-between;
    height: 60px;
}
.nav-menu .header-content-right .item{
    cursor: pointer;
    display: table-cell;
    line-height: 58px;
    position: relative;
    width: 78px;
    /*color: #fff;*/
}
.nav-menu .header-content-right .item i{
    position: absolute;
    top: 12px;
    left: 0;
    height: 22px;
    width: 100%;
    display: inline-block;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}
.nav-menu .header-content-right .pro-count{
    border-radius: 100%;
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    height: 15px;
    line-height: 15px;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 6px;
    background: rebeccapurple;
    width: 15px;
}
.nav-menu .header-content-right .item .item-span{
    bottom: 8px;
    font-family: MangoSans, sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    left: 0;
    letter-spacing: 0.3px;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    width: 78px;
}
.nav-menu.dropdown-menu:li {
    text-align: left;
}

.nav-menu .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.nav-menu .menu-user{
    width: 20rem;
    transform: translateX(-50%);
    padding: 0.6rem 1rem;
    line-height: 1.6rem;
}
.nav-menu .menu-user:before{
    position: absolute;
    top: -8px;
    right: 35%;
    display: inline-block !important;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #e0e0e0;
    border-left: 8px solid transparent;
    content: "";
}
.nav-menu .menu-user .dropdown-span{
    width: 20rem;
    font-size: 14px;
    margin-left: 3rem;
}
.nav-menu .btn-black{
    background-color: black;
    width: 100%;
    color: #ffffff;
}
/****************************Banner ******************************************/
.banner{

}
.banner .carousel-item img{
    width: 100%;

    min-height: calc(500px - 80px);
    overflow: hidden;

}
