body[dir="rtl"] {
    direction: rtl;
    text-align: right;
}

.btn {
    + {
        .btn {
            margin-right: 10px;
            margin-left: 0;
        }
    }

    i {
        margin-right: 0;
        display: inline-block;
        margin-left: 5px;
    }
}

.text-left {
    text-align: right !important;
}

.widget_shop {
    .ps-checkbox {
        > label {
            &:after {
                left: auto;
                right: 7px;
            }

            padding-left: 0;
            padding-right: 25px;
        }
    }
}

.ps-checkbox {
    label {
        padding-left: 0;
        padding-right: 30px;

        &:before {
            left: auto;
            right: 0;
        }

        &:after {
            left: auto;
            right: 7px;
        }
    }
}

.rating_wrap {
    .product_rate {
        left: auto;
        right: 0;

        &:before {
            left: auto;
            right: 0;
        }
    }

    .rating {
        &:before {
            left: auto;
            right: 0;
        }
    }
}

#alert-container {
    left: 5px;
    right: auto;

    .alert {
        .message-icon {
            right: 5%;
            left: auto;
        }

        padding: 15px 60px 15px 40px;
    }

    .alert.alert-dismissible {
        .close {
            left: 15px;
            right: auto;
        }
    }
}

.avatar-preview {
    margin-right: 0;
    margin-left: 15px;
}

.modal-header {
    .close {
        float: left;
        margin: 0;
    }
}

.mr-5 {
    margin-right: 0 !important;
    margin-left: 5px !important;
}

.fa-angle-double-right:before {
    content: "\f100";
}

#news-flash {
    ul {
        text-align: left;

        li {
            i {
                float: left;
                margin-right: 5px !important;
                margin-top: 5px;
            }
        }
    }
}

.header-info {
    > ul {
        > li {
            margin-right: 0;
            margin-left: 30px;

            &:before {
                left: -14px;
                right: auto;
            }

            &:last-child {
                margin-left: 0;

                &:before {
                    display: none;
                }
            }
        }
    }
}

.search-style-2 {
    form {
        select, input {
            border-radius: 26px 0 0 26px;
        }

        button {
            left: 0;
            right: auto;
        }
    }
}

.select2-container--default {
    &.select2-container[dir="rtl"] {
        .select2-selection--single {
            border-right: 2px solid #eee;
            border-left: 0;
            border-radius: 0 30px 30px 0 !important;

            .select2-selection__rendered {
                padding-right: 20px;
                padding-left: 8px;
            }
        }
    }
}

.main-categories-wrap {
    > a {
        span {
            margin-right: 0;
            margin-left: 10px;
        }

        i {
            margin-left: 0;
            margin-right: 15px;
        }
    }
}

.main-menu {
    > nav {
        > ul {
            > li {
                > a {
                    i {
                        margin-left: 0;
                        margin-right: 4px;
                    }
                }

                ul.sub-menu {
                    left: auto;
                    right: 0;
                }
            }
        }
    }
}

.hotline {
    p {
        i, span {
            margin-right: 0;
            margin-left: 10px;
        }
    }
}

.banner-left-icon {
    .banner-icon {
        margin-right: 0;
        margin-left: 20px;
    }
}

.product-cart-wrap {
    .product-action-1.show {
        left: 20px;
        right: auto;
    }
}

.fa-arrow-right:before {
    content: "\f060";
}

.product-cart-wrap {
    .product-badges {
        span.hot {
            direction: ltr;
        }
    }
}

.newsletter {
    .form-subcriber {
        input {
            border-radius: 0 50px 50px 0;
            padding: 0 30px 0 20px;
        }

        button {
            border-radius: 50px 0 0 50px;
        }
    }
}

#scrollUp {
    left: 30px;
    right: auto;
}

.mobile-social-icon {
    a {
        margin-right: 0;
        margin-left: 10px;
    }
}

.mr-15 {
    margin-right: 0 !important;
    margin-left: 15px !important;
}

.entry-meta.meta-1 {
    span {
        margin-right: 0;
        margin-left: 10px;

        i {
            margin-right: 0;
            margin-left: 3px;
        }
    }
}

span.has-dot {
    margin-right: 0;
    margin-left: 10px;
}

.categories-dropdown-wrap {
    ul {
        li {
            a {
                i {
                    margin-right: 0;
                    margin-left: 16px;
                }
            }

            &.has-children {
                .dropdown-menu {
                    left: auto;
                    right: 100%;
                }

                > a {
                    &:after {
                        content: "\f104";
                        right: auto;
                        left: 30px;
                    }
                }
            }
        }
    }

    .more_categories {
        &:before {
            right: auto;
            left: 31px;
        }

        &:after {
            right: auto;
            left: 38px;
        }
    }
}

.header-style-2 {
    .select2-container--default {
        .select2-selection--single {
            border-right: 1px solid #e8e8e8;
            border-left: 0;
        }
    }
}

.hero-slider-1.style-2 {
    .hero-slider-content-2 {
        padding-left: 0;
        padding-right: 300px;
    }

    .single-slider-img {
        right: auto;
        left: 0;
    }
}

.carousel-6-columns-cover {
    .slider-arrow {
        .slider-btn {
            &.slider-prev {
                right: auto;
                left: 50px;

                i {
                    margin-right: 0;
                    margin-left: 0;
                }
            }

            &.slider-next {
                right: auto;
                left: 0;

                i {
                    margin-left: 0;
                    margin-right: 0;
                }
            }

            .fa-chevron-right:before {
                content: "\f053";
            }

            .fa-chevron-left:before {
                content: "\f054";
            }
        }
    }
}

.section-title.style-1::after {
    left: auto;
    right: 0;
}

.banner-img {
    .banner-text {
        left: 0;
    }
}

.home-slide-cover {
    .hero-slider-content-2 {
        padding-left: 0;
        padding-right: 50px;
    }
}

.main-categories-wrap {
    > a {
        i.up {
            right: auto;
            left: 0;
        }
    }
}

.header-style-4 {
    .main-categories-wrap {
        > a {
            i.up {
                right: auto;
                left: 30px;
            }
        }
    }
}

.header-style-4 {
    .select2-container--default {
        .select2-selection--single {
            border-right: 2px solid #eee;
            border-left: 0;
            border-radius: 0 30px 30px 0 !important;
        }
    }
}

.text-end {
    text-align: left !important;
}

.detail-qty {
    text-align: left;
}

.custome-checkbox {
    .form-check-label::before {
        margin: 0 0 0 8px;
    }
}

.shop-product-filter {
    .sort-by-product-area {
        .sort-by-product-wrap {
            .sort-by {
                margin-right: 0;
                margin-left: 5px;

                i {
                    margin-right: 0;
                    margin-left: 10px;
                }
            }
        }
    }
}

.mr-10 {
    margin-right: 0 !important;
    margin-left: 10px !important;
}

.search-form {
    form {
        button {
            right: auto;
            left: 0;
        }
    }
}

input {
    padding-left: 0;
    padding-right: 20px;
}

.modal-header {
    .btn-close {
        margin: -.5rem auto -.5rem -.5rem;
    }
}

.social-icons {
    li {
        float: right;
    }
}

.fa-angle-right:before {
    content: "\f104";
}

.cart-dropdown-wrap {
    ul {
        li {
            .shopping-cart-img {
                margin-right: 0;
                margin-left: 20px;
            }
        }
    }

    .shopping-cart-footer {
        .shopping-cart-total {
            h5, h4 {
                span {
                    float: left;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .text-lg-end {
        text-align: left !important;
    }
}

.cart-dropdown-wrap {
    left: 0;
    right: auto;
}

@media only screen and (max-width: 768px) {
    .cart-dropdown-wrap {
        left: -39px;
        right: auto;
    }
}

.cart-dropdown-wrap.cart-dropdown-hm2 {
    left: -63px;
    right: auto;
}

@media only screen and (max-width: 768px) {
    .cart-dropdown-wrap.cart-dropdown-hm2 {
        left: -63px;
        right: auto;
    }
}

@media only screen and (max-width: 480px) {
    .popular-categories .slider-btn.slider-prev {
        left: 50px !important;
        right: unset !important;
    }

    .slider-arrow .slider-btn.slider-next {
        right: auto !important;
    }
}

.categories-button-active-2 i {
    float: left;
}

.mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-menu-wrap nav .mobile-menu li.menu-item-has-children .menu-expand {
    left: 0;
    right: auto;
}

.mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-header-info-wrap .single-mobile-header-info a span {
    float: left;
}

.avatar-upload label {
  float: right;
}
